<!doctype html>
<html>
  <head>
    <title>Audio</title>
  </head>
  <body>

    <input type="button" value="PLAY" onclick="play()">
    <audio id="audio" src="https://lasonotheque.org/UPLOAD/wav/1890.wav"></audio>

  </body>
</html>