*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 2rem;
  padding: 2rem;
}